In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from math import sqrt

In [10]:
df=pd.read_excel('19MDVRP Problem Sets.xlsx')
df

,Problem,Customer Number,x coordinate,y coordinate,Number of Depots,Depot x coordinate,Depot y coordinate
0,1.0,1,37,52,1.0,20.0,20.0
1,NaN,2,49,49,2.0,30.0,40.0
2,NaN,3,52,64,3.0,50.0,30.0
3,NaN,4,20,26,4.0,60.0,50.0
4,NaN,5,40,30,NaN,NaN,NaN
5,NaN,6,21,47,NaN,NaN,NaN
6,NaN,7,17,63,NaN,NaN,NaN
7,NaN,8,31,62,NaN,NaN,NaN
8,NaN,9,52,33,NaN,NaN,NaN
9,NaN,10,51,21,NaN,NaN,NaN
10,NaN,11,42,41,NaN,NaN,NaN
11,NaN,12,31,32,NaN,NaN,NaN
12,NaN,13,5,25,NaN,NaN,NaN
13,NaN,14,12,42,NaN,NaN,NaN
14,NaN,15,36,16,NaN,NaN,NaN
15,NaN,16,52,41,NaN,NaN,NaN
16,NaN,17,27,23,NaN,NaN,NaN
17,NaN,18,17,33,NaN,NaN,NaN
18,NaN,19,13,13,NaN,NaN,NaN
19,NaN,20,57,58,NaN,NaN,NaN
20,NaN,21,62,42,NaN,NaN,NaN
21,NaN,22,42,57,NaN,NaN,NaN
22,NaN,23,16,57,NaN,NaN,NaN
23,NaN,24,8,52,NaN,NaN,NaN
24,NaN,25,7,38,NaN,NaN,NaN
25,NaN,26,27,68,NaN,NaN,NaN
26,NaN,27,30,48,NaN,NaN,NaN
27,NaN,28,43,67,NaN,NaN,NaN
28,NaN,29,58,48,NaN,NaN,NaN
29,NaN,30,58,27,NaN,NaN,NaN
30,NaN,31,37,69,NaN,NaN,NaN
31,NaN,32,38,46,NaN,NaN,NaN
32,NaN,33,46,10,NaN,NaN,NaN
33,NaN,34,61,33,NaN,NaN,NaN
34,NaN,35,62,63,NaN,NaN,NaN
35,NaN,36,63,69,NaN,NaN,NaN
36,NaN,37,32,22,NaN,NaN,NaN
37,NaN,38,45,35,NaN,NaN,NaN
38,NaN,39,59,15,NaN,NaN,NaN
39,NaN,40,5,6,NaN,NaN,NaN
40,NaN,41,10,17,NaN,NaN,NaN
41,NaN,42,21,10,NaN,NaN,NaN
42,NaN,43,5,64,NaN,NaN,NaN
43,NaN,44,30,15,NaN,NaN,NaN
44,NaN,45,39,10,NaN,NaN,NaN
45,NaN,46,32,39,NaN,NaN,NaN
46,NaN,47,25,32,NaN,NaN,NaN
47,NaN,48,25,55,NaN,NaN,NaN
48,NaN,49,48,28,NaN,NaN,NaN
49,NaN,50,56,37,NaN,NaN,NaN

In [10]:
depots_df =  df.dropna(subset=['Number of Depots'])[['Depot x coordinate', 'Depot y coordinate']].drop_duplicates().reset_index(drop=True)

In [12]:
depots = []
for i, row in depots_df.iterrows():
    depots.append({
        "id": i,
        "x": int(row['Depot x coordinate']),
        "y": int(row['Depot y coordinate']),
    })

# استخراج بيانات العملاء (كل الصفوف اللي رقم العميل موجود)
customers_df = df[['Customer Number', 'x coordinate', 'y coordinate']].dropna()

# تحويل لمصفوفة dict للعملاء مع id (صفر-based index) و demand 0 لأن غير معرف
customers = []
for i, row in customers_df.iterrows():
    customers.append({
        "id": int(row['Customer Number']) - 1,  # نحول ل zero-based index
        "x": int(row['x coordinate']),
        "y": int(row['y coordinate']),
        "demand": 0  # ممكن تغير حسب بياناتك لاحقاً
    })

# طباعة النتائج
print("depots =", depots)
print("customers =", customers)

depots = [{'id': 0, 'x': 20, 'y': 20}, {'id': 1, 'x': 30, 'y': 40}, {'id': 2, 'x': 50, 'y': 30}, {'id': 3, 'x': 60, 'y': 50}]
customers = [{'id': 0, 'x': 37, 'y': 52, 'demand': 0}, {'id': 1, 'x': 49, 'y': 49, 'demand': 0}, {'id': 2, 'x': 52, 'y': 64, 'demand': 0}, {'id': 3, 'x': 20, 'y': 26, 'demand': 0}, {'id': 4, 'x': 40, 'y': 30, 'demand': 0}, {'id': 5, 'x': 21, 'y': 47, 'demand': 0}, {'id': 6, 'x': 17, 'y': 63, 'demand': 0}, {'id': 7, 'x': 31, 'y': 62, 'demand': 0}, {'id': 8, 'x': 52, 'y': 33, 'demand': 0}, {'id': 9, 'x': 51, 'y': 21, 'demand': 0}, {'id': 10, 'x': 42, 'y': 41, 'demand': 0}, {'id': 11, 'x': 31, 'y': 32, 'demand': 0}, {'id': 12, 'x': 5, 'y': 25, 'demand': 0}, {'id': 13, 'x': 12, 'y': 42, 'demand': 0}, {'id': 14, 'x': 36, 'y': 16, 'demand': 0}, {'id': 15, 'x': 52, 'y': 41, 'demand': 0}, {'id': 16, 'x': 27, 'y': 23, 'demand': 0}, {'id': 17, 'x': 17, 'y': 33, 'demand': 0}, {'id': 18, 'x': 13, 'y': 13, 'demand': 0}, {'id': 19, 'x': 57, 'y': 58, 'demand': 0}, {'id': 20, 'x': 62, 'y': 42, 'demand': 0}, {'id': 21, 'x': 42, 'y': 57, 'demand': 0}, {'id': 22, 'x': 16, 'y': 57, 'demand': 0}, {'id': 23, 'x': 8, 'y': 52, 'demand': 0}, {'id': 24, 'x': 7, 'y': 38, 'demand': 0}, {'id': 25, 'x': 27, 'y': 68, 'demand': 0}, {'id': 26, 'x': 30, 'y': 48, 'demand': 0}, {'id': 27, 'x': 43, 'y': 67, 'demand': 0}, {'id': 28, 'x': 58, 'y': 48, 'demand': 0}, {'id': 29, 'x': 58, 'y': 27, 'demand': 0}, {'id': 30, 'x': 37, 'y': 69, 'demand': 0}, {'id': 31, 'x': 38, 'y': 46, 'demand': 0}, {'id': 32, 'x': 46, 'y': 10, 'demand': 0}, {'id': 33, 'x': 61, 'y': 33, 'demand': 0}, {'id': 34, 'x': 62, 'y': 63, 'demand': 0}, {'id': 35, 'x': 63, 'y': 69, 'demand': 0}, {'id': 36, 'x': 32, 'y': 22, 'demand': 0}, {'id': 37, 'x': 45, 'y': 35, 'demand': 0}, {'id': 38, 'x': 59, 'y': 15, 'demand': 0}, {'id': 39, 'x': 5, 'y': 6, 'demand': 0}, {'id': 40, 'x': 10, 'y': 17, 'demand': 0}, {'id': 41, 'x': 21, 'y': 10, 'demand': 0}, {'id': 42, 'x': 5, 'y': 64, 'demand': 0}, {'id': 43, 'x': 30, 'y': 15, 'demand': 0}, {'id': 44, 'x': 39, 'y': 10, 'demand': 0}, {'id': 45, 'x': 32, 'y': 39, 'demand': 0}, {'id': 46, 'x': 25, 'y': 32, 'demand': 0}, {'id': 47, 'x': 25, 'y': 55, 'demand': 0}, {'id': 48, 'x': 48, 'y': 28, 'demand': 0}, {'id': 49, 'x': 56, 'y': 37, 'demand': 0}]

In [13]:
vehicle_capacity=40

In [3]:
def distance(a, b):
    return sqrt((a["x"] - b["x"])**2 + (a["y"] - b["y"])**2)

In [4]:
def create_individual():
    # توزيع العملاء عشوائياً على المخازن
    assignment = [random.choice([0, 1]) for _ in customers]
    
    # ترتيب عشوائي للعملاء
    routes = list(range(len(customers)))
    random.shuffle(routes)
    
    return {"assignment": assignment, "routes": routes}

In [5]:
def fitness(individual):
    total_distance = 0
    total_penalty = 0

    # فصل العملاء حسب كل depot
    for depot_id in range(len(depots)):
        assigned_customers = [
            idx for idx, a in enumerate(individual["assignment"]) if a == depot_id
        ]
        route = [i for i in individual["routes"] if i in assigned_customers]

        # حساب الطلب الكلي
        total_demand = sum(customers[i]["demand"] for i in route)
        if total_demand > vehicle_capacity:
            total_penalty += 1000  # عقوبة إذا تعدينا السعة

        # حساب المسافة المقطوعة ذهاباً وإياباً
        depot = depots[depot_id]
        prev = depot
        for i in route:
            total_distance += distance(prev, customers[i])
            prev = customers[i]
        total_distance += distance(prev, depot)  # العودة للمخزن

    return -(total_distance + total_penalty)  # عكس لأنه minimization

In [6]:
def selection(population):
    return max(random.sample(population, 3), key=fitness)

In [7]:
def crossover(p1, p2):
    cut = random.randint(1, len(p1["routes"]) - 1)
    child_routes = p1["routes"][:cut] + [r for r in p2["routes"] if r not in p1["routes"][:cut]]
    child_assignment = p1["assignment"][:]
    return {"assignment": child_assignment, "routes": child_routes}

In [8]:
def mutate(individual, rate=0.1):
    for i in range(len(individual["routes"])):
        if random.random() < rate:
            j = random.randint(0, len(individual["routes"]) - 1)
            individual["routes"][i], individual["routes"][j] = individual["routes"][j], individual["routes"][i]

In [16]:
def genetic_algorithm(generations=30, population_size=20):
    population = [create_individual() for _ in range(population_size)]

    for gen in range(generations):
        new_pop = []
        for _ in range(population_size):
            parent1 = selection(population)
            parent2 = selection(population)
            child = crossover(parent1, parent2)
            mutate(child)
            new_pop.append(child)

        population = new_pop
        best = max(population, key=fitness)
        print(f"Generation {gen+1}: Best Fitness = {-fitness(best):.2f}")

    best = max(population, key=fitness)
    print("Final Best Solution:")
    print("Assignments:", best["assignment"])
    print("Route:", best["routes"])

In [17]:
genetic_algorithm(generations=100,population_size=50)

Generation 1: Best Fitness = 1483.08
Generation 2: Best Fitness = 1474.60
Generation 3: Best Fitness = 1443.12
Generation 4: Best Fitness = 1412.09
Generation 5: Best Fitness = 1374.00
Generation 6: Best Fitness = 1407.03
Generation 7: Best Fitness = 1381.50
Generation 8: Best Fitness = 1393.45
Generation 9: Best Fitness = 1361.24
Generation 10: Best Fitness = 1389.96
Generation 11: Best Fitness = 1391.53
Generation 12: Best Fitness = 1415.76
Generation 13: Best Fitness = 1410.88
Generation 14: Best Fitness = 1445.50
Generation 15: Best Fitness = 1459.29
Generation 16: Best Fitness = 1450.27
Generation 17: Best Fitness = 1396.03
Generation 18: Best Fitness = 1402.95
Generation 19: Best Fitness = 1340.05
Generation 20: Best Fitness = 1350.02
Generation 21: Best Fitness = 1273.88
Generation 22: Best Fitness = 1344.64
Generation 23: Best Fitness = 1376.61
Generation 24: Best Fitness = 1385.13
Generation 25: Best Fitness = 1383.30
Generation 26: Best Fitness = 1396.86
Generation 27: Best Fitness = 1329.97
Generation 28: Best Fitness = 1403.98
Generation 29: Best Fitness = 1391.89
Generation 30: Best Fitness = 1393.93
Generation 31: Best Fitness = 1354.85
Generation 32: Best Fitness = 1345.35
Generation 33: Best Fitness = 1410.28
Generation 34: Best Fitness = 1354.32
Generation 35: Best Fitness = 1341.50
Generation 36: Best Fitness = 1391.79
Generation 37: Best Fitness = 1402.08
Generation 38: Best Fitness = 1356.50
Generation 39: Best Fitness = 1421.50
Generation 40: Best Fitness = 1400.74
Generation 41: Best Fitness = 1396.30
Generation 42: Best Fitness = 1398.34
Generation 43: Best Fitness = 1411.89
Generation 44: Best Fitness = 1324.29
Generation 45: Best Fitness = 1345.52
Generation 46: Best Fitness = 1347.99
Generation 47: Best Fitness = 1343.97
Generation 48: Best Fitness = 1367.97
Generation 49: Best Fitness = 1375.73
Generation 50: Best Fitness = 1286.65
Generation 51: Best Fitness = 1335.24
Generation 52: Best Fitness = 1387.06
Generation 53: Best Fitness = 1347.95
Generation 54: Best Fitness = 1327.75
Generation 55: Best Fitness = 1350.21
Generation 56: Best Fitness = 1348.62
Generation 57: Best Fitness = 1321.29
Generation 58: Best Fitness = 1380.17
Generation 59: Best Fitness = 1341.26
Generation 60: Best Fitness = 1356.60
Generation 61: Best Fitness = 1368.31
Generation 62: Best Fitness = 1412.35
Generation 63: Best Fitness = 1410.55
Generation 64: Best Fitness = 1312.14
Generation 65: Best Fitness = 1349.25
Generation 66: Best Fitness = 1383.15
Generation 67: Best Fitness = 1302.47
Generation 68: Best Fitness = 1343.79
Generation 69: Best Fitness = 1383.84
Generation 70: Best Fitness = 1314.43
Generation 71: Best Fitness = 1356.37
Generation 72: Best Fitness = 1378.54
Generation 73: Best Fitness = 1384.53
Generation 74: Best Fitness = 1360.93
Generation 75: Best Fitness = 1367.25
Generation 76: Best Fitness = 1376.56
Generation 77: Best Fitness = 1273.18
Generation 78: Best Fitness = 1289.93
Generation 79: Best Fitness = 1366.67
Generation 80: Best Fitness = 1356.15
Generation 81: Best Fitness = 1371.49
Generation 82: Best Fitness = 1283.19
Generation 83: Best Fitness = 1364.11
Generation 84: Best Fitness = 1343.31
Generation 85: Best Fitness = 1348.19
Generation 86: Best Fitness = 1415.01
Generation 87: Best Fitness = 1349.01
Generation 88: Best Fitness = 1320.42
Generation 89: Best Fitness = 1377.40
Generation 90: Best Fitness = 1397.75
Generation 91: Best Fitness = 1408.14
Generation 92: Best Fitness = 1397.37
Generation 93: Best Fitness = 1405.51
Generation 94: Best Fitness = 1368.57
Generation 95: Best Fitness = 1354.24
Generation 96: Best Fitness = 1376.98
Generation 97: Best Fitness = 1335.29
Generation 98: Best Fitness = 1355.62
Generation 99: Best Fitness = 1346.56
Generation 100: Best Fitness = 1394.55
Final Best Solution:
Assignments: [0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1]
Route: [25, 18, 46, 13, 21, 1, 2, 0, 26, 14, 11, 31, 40, 44, 33, 45, 4, 49, 48, 39, 16, 28, 43, 7, 41, 42, 29, 12, 36, 17, 37, 9, 47, 3, 5, 32, 23, 22, 27, 6, 24, 19, 8, 38, 20, 10, 15, 30, 35, 34]